openapi: 3.1.0
info:
  title: DisputeShield API
  version: 1.0.0
  description: "Embeddable dispute and SLA management for fintechs.\n\nThree surfaces, three authentication\
    \ schemes, deliberately not interchangeable:\n\n  * **Server API** — your backend, secret key. Mints\
    \ session tokens.\n  * **Widget API** — the browser, session token. Scoped to exactly one customer.\n\
    \  * **Management API** — your agents, an agent-scoped key plus an acting-agent header.\n\nTwo rules\
    \ apply everywhere and are worth stating once:\n\n  * **Cross-boundary access returns 404, never 403.**\
    \ A 403 confirms the resource\n    exists, which is an information leak (§8.1). This includes a role\
    \ that is not\n    permitted to use an endpoint — answering 403 there confirms the endpoint is real.\n\
    \  * **Every write requires `Idempotency-Key`.** Not optional: an optional key means\n    the guarantee\
    \ silently does not apply to the callers who most need it, and they\n    have no way to tell. Replaying\
    \ a key returns the original response; reusing one\n    with a different body is a 409, because returning\
    \ the first response would hide\n    a client bug.\n"
  license:
    name: BUSL-1.1
    url: https://github.com/nobledeveloper01/DisputeShield/blob/main/LICENSE
servers:
- url: https://api.disputeshield.dev
  description: Hosted
- url: http://localhost:8000
  description: Local
security:
- secretKey: []
components:
  securitySchemes:
    secretKey:
      type: http
      scheme: bearer
      description: '`ds_{env}_{random32}`. Server-side only. Argon2id-hashed at rest; shown

        once at creation and never retrievable. Scoped to one environment and one

        tenant — no key spans tenants.

        '
    sessionToken:
      type: http
      scheme: bearer
      description: '`dst_...`. Minted by your backend via POST /v1/sessions, scoped to exactly

        one customer_ref, 30-minute TTL, revocable (ADR-0002). The publishable key

        cannot substitute for this on any data endpoint.

        '
    publishableKey:
      type: http
      scheme: bearer
      description: '`pk_{env}_{random32}`. Safe to embed in a public page: it can read widget configuration
        and theming and nothing else. There is no code path from a publishable key to a dispute record,
        and the widget suite asserts that against every data route rather than a sample.'
    agentKey:
      type: http
      scheme: bearer
      description: 'A secret key, plus `X-DisputeShield-Acting-Agent` naming the person the call is made
        for. The audit trail records that person rather than the key: "an API key resolved this case"
        is not an answer a supervisor accepts.'
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - type
          - message
          properties:
            type:
              type: string
              example: not_found
            message:
              type: string
            request_id:
              type: string
    Transaction:
      type: object
      required:
      - reference
      - occurred_at
      properties:
        reference:
          type: string
          maxLength: 128
        amount_minor:
          type: integer
          format: int64
          description: Integer minor units. Never a float — money is not a float.
        currency:
          type: string
          minLength: 3
          maxLength: 3
        occurred_at:
          type: string
          format: date-time
        description:
          type: string
        status:
          type: string
    SessionRequest:
      type: object
      required:
      - customer_ref
      properties:
        customer_ref:
          type: string
          description: 'Your identifier for this customer. Stored only as a per-tenant salted

            hash (§8.4). The session''s entire visibility scope is decided here, on

            your backend, where identity is actually known.

            '
        display_name:
          type: string
          maxLength: 128
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
          description: 'Supplied by you at mint time. DisputeShield never queries your

            database and holds no standing access to it.

            '
        ttl_seconds:
          type: integer
          default: 1800
          maximum: 3600
    SessionResponse:
      type: object
      properties:
        session_token:
          type: string
          example: dst_9f2a7c...
        expires_at:
          type: string
          format: date-time
    Dispute:
      type: object
      properties:
        id:
          type: string
          example: dsp_9F2A7C…
        reference:
          type: string
          example: DS-2026-8AJNKJ
        customer_ref_hash:
          type: string
          description: Per-tenant salted HMAC. The raw reference is never stored (§8.4).
        category:
          type: string
        status:
          type: string
          enum:
          - submitted
          - acknowledged
          - investigating
          - awaiting_customer
          - escalated
          - resolved
          - reopened
          - closed
          - auto_closed
        outcome:
          type: string
          enum:
          - ''
          - upheld
          - rejected
          - partial
          - withdrawn
        amount_minor:
          type: integer
          format: int64
          description: Integer minor units. Money is not a float.
        refund_amount_minor:
          type: integer
          format: int64
          nullable: true
          description: Recorded, never executed. DisputeShield has no code path to a payment (§3.3).
        ack_deadline:
          type: string
          format: date-time
        resolution_deadline:
          type: string
          format: date-time
        breach_ack:
          type: boolean
        breach_resolution:
          type: boolean
        sla:
          $ref: '#/components/schemas/SLABlock'
    SLABlock:
      type: object
      description: The list view reports deadlines and breach flags only. Business-time remaining needs
        the calendar, the pause intervals and a deadline row per case, and fifty of those per page put
        the queue over its 300ms budget — so it is computed on the detail view, where it is one case.
      properties:
        state:
          type: string
          enum:
          - running
          - paused
          - stopped
        breached:
          type: boolean
        ack_deadline:
          type: string
          format: date-time
        resolution_deadline:
          type: string
          format: date-time
        remaining_seconds:
          type: integer
          description: Detail view only. Negative once breached.
    WidgetDispute:
      type: object
      description: What the customer sees. Shares no base class with the management serializer — inheritance
        is how a field added for agents silently appears in a customer response, and the leakage gate
        walks the full field graph to prove it cannot.
      properties:
        id:
          type: string
        reference:
          type: string
        category:
          type: string
        description:
          type: string
        status:
          type: string
        expected_resolution_at:
          type: string
          format: date-time
          description: Quoted to the customer at filing. The commitment is a regulatory quantity, so they
            hear it from us rather than from silence.
        messages:
          type: array
          items:
            $ref: '#/components/schemas/WidgetMessage'
    SlaPolicyTerms:
      type: object
      properties:
        category:
          type: string
          description: Required when creating; ignored on PATCH.
        acknowledgement_minutes:
          type: integer
          minimum: 1
        resolution_hours:
          type: integer
          minimum: 1
          description: A window under an hour breaches every case the moment it is filed.
        business_hours_only:
          type: boolean
        warning_thresholds:
          type: array
          items:
            type: integer
            minimum: 1
            maximum: 99
          description: Percentages of the window. A threshold at or above 100 never fires, so it is
            refused rather than accepted and silently ignored.
        escalate_at_percent:
          type: integer
          minimum: 1
          maximum: 99
          description: Below 100, because escalating at 100% escalates a case that has already
            breached, which is a notification rather than an escalation.
        auto_close_after_hours:
          type: integer
          minimum: 1
        reopen_window_hours:
          type: integer
          minimum: 1
        regulatory_reference:
          type: string
          description: What these windows are derived from. Turns a configuration value into
            documented evidence of intent.
        calendar_id:
          type: string
    WidgetMessage:
      type: object
      properties:
        id:
          type: string
        author:
          type: string
          enum:
          - you
          - support
          description: Never a named employee. A customer learns the firm replied, which is all they need.
        body:
          type: string
        created_at:
          type: string
          format: date-time
    Attachment:
      type: object
      properties:
        id:
          type: string
        filename:
          type: string
        content_type:
          type: string
        size_bytes:
          type: integer
        sha256:
          type: string
        scan_status:
          type: string
          enum:
          - pending
          - clean
          - infected
          - failed
          description: Nothing is retrievable until `clean`, including by whoever uploaded it.
    Attestation:
      type: object
      description: Two facts, reported separately. The chain proves internal consistency; the signature
        proves we computed it. Neither proves *when* the chain existed — external anchoring is planned
        (amplifier A8).
      properties:
        chain:
          type: object
          properties:
            verified:
              type: boolean
            records_checked:
              type: integer
            first_break:
              type: integer
              nullable: true
        attestation:
          type: object
          properties:
            present:
              type: boolean
            signature_valid:
              type: boolean
              nullable: true
            head_hash:
              type: string
            externally_anchored:
              type: boolean
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        maxLength: 128
      description: Required on every write. See the note in the API description.
    PeriodFrom:
      name: from
      in: query
      schema:
        type: string
        format: date-time
    PeriodTo:
      name: to
      in: query
      schema:
        type: string
        format: date-time
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Opaque cursor. Offset pagination over a queue that reorders itself skips cases, which
        is a defect on a queue whose purpose is that nothing is missed.
paths:
  /v1/sessions:
    post:
      summary: Mint a customer-scoped session token
      operationId: createSession
      security:
      - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '401':
          description: Missing, malformed or revoked secret key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /healthz:
    get:
      summary: Liveness
      operationId: healthz
      security: []
      responses:
        '200':
          description: Alive
  /readyz:
    get:
      summary: Readiness — database, both Redis instances, audit trigger present
      operationId: readyz
      security: []
      responses:
        '200':
          description: Ready
        '503':
          description: A dependency is unavailable or the audit trigger is missing
  /v1/widget/config:
    get:
      summary: Theme, categories and locale
      operationId: widgetConfig
      security:
      - publishableKey: []
      responses:
        '200':
          description: Configuration. Everything here is safe to disclose.
  /v1/embed:
    get:
      summary: The sandboxed iframe document
      description: Dynamic and privately cached, carrying the tenant's own `frame-ancestors`. The bundles
        it references are static and cached for a year. Caching this document publicly would hand one
        tenant another tenant's frame-ancestors.
      operationId: embed
      security:
      - publishableKey: []
      parameters:
      - name: k
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The widget document, with a per-tenant CSP.
        '403':
          description: Unknown key or unregistered origin. Empty body — the widget fails closed and quietly,
            never rendering an error on the host page (§8.6).
  /v1/widget/disputes:
    get:
      summary: This customer's cases
      operationId: widgetListDisputes
      security:
      - sessionToken: []
      responses:
        '200':
          description: Cases in the token's scope, and no others.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WidgetDispute'
    post:
      summary: File a dispute
      operationId: widgetFileDispute
      security:
      - sessionToken: []
      parameters:
      - &id001
        $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: Filed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetDispute'
        '400':
          description: Unknown category, or a transaction reference outside the session — a customer may
            only dispute transactions their own backend supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/widget/disputes/transactions:
    get:
      summary: The transaction picker's options
      operationId: widgetTransactions
      security:
      - sessionToken: []
      description: Straight from the minted session, so only this customer's appear.
      responses:
        '200':
          description: Transactions supplied at mint time.
  /v1/disputes:
    get:
      summary: The queue
      operationId: listDisputes
      security:
      - agentKey: []
      description: Sorted by time remaining, breached cases pinned. An agent who has to sort a queue to
        find urgent work is using a table, not a queue.
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - name: status
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: assigned_to
        in: query
        schema:
          type: string
        description: '`none` for unassigned.'
      - name: sla_risk
        in: query
        schema:
          type: string
          enum:
          - breached
          - at_risk
      - name: amount_min
        in: query
        schema:
          type: integer
      - name: amount_max
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A page of the queue.
  /v1/disputes/{id}:
    get:
      summary: A case, with its conversation and clock history
      operationId: getDispute
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The case.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '404': &id002
          description: No such resource — or one you may not see. The two are deliberately indistinguishable
            (§8.1).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/disputes/{id}/transition:
    post:
      summary: Move a case through the lifecycle
      operationId: disputeTransition
      description: Refused with 409 and the legal moves if the transition table does not permit it.
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - *id001
      responses:
        '200':
          description: Applied.
        '201':
          description: Created.
        '400':
          description: Invalid request, or a required reason was omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal transition, or an idempotency key reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': *id002
  /v1/disputes/{id}/pause:
    post:
      summary: Pause the resolution clock
      operationId: disputePause
      description: 'A reason is required and is not defaulted: a pausable clock is an abusable clock,
        and a defaulted reason is an optional reason at every call site (§4.4 C3).'
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - *id001
      responses:
        '200':
          description: Applied.
        '201':
          description: Created.
        '400':
          description: Invalid request, or a required reason was omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal transition, or an idempotency key reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': *id002
  /v1/disputes/{id}/resume:
    post:
      summary: Resume the clock
      operationId: disputeResume
      description: A reason is required, for the same purpose as a pause.
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - *id001
      responses:
        '200':
          description: Applied.
        '201':
          description: Created.
        '400':
          description: Invalid request, or a required reason was omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal transition, or an idempotency key reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': *id002
  /v1/disputes/{id}/resolve:
    post:
      summary: Record an outcome
      operationId: disputeResolve
      description: Records `refund_amount_minor`. Never moves money — that is permanently out of scope
        and phase 9 adds a call-graph gate asserting no module reaches a payment path.
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - *id001
      responses:
        '200':
          description: Applied.
        '201':
          description: Created.
        '400':
          description: Invalid request, or a required reason was omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal transition, or an idempotency key reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': *id002
  /v1/disputes/{id}/assign:
    post:
      summary: Assign or unassign
      operationId: disputeAssign
      description: ''
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - *id001
      responses:
        '200':
          description: Applied.
        '201':
          description: Created.
        '400':
          description: Invalid request, or a required reason was omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal transition, or an idempotency key reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': *id002
  /v1/disputes/{id}/messages:
    post:
      summary: Read or add a message
      operationId: disputeMessages
      description: An internal note is structurally incapable of reaching the widget (§10).
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - *id001
      responses:
        '200':
          description: Applied.
        '201':
          description: Created.
        '400':
          description: Invalid request, or a required reason was omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal transition, or an idempotency key reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': *id002
  /v1/disputes/{id}/context:
    post:
      summary: Push transaction context
      operationId: disputeContext
      description: Pushed by your backend, never pulled. DisputeShield holds no standing access to your
        database, and an endpoint that reached back for data would retire that claim.
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - *id001
      responses:
        '200':
          description: Applied.
        '201':
          description: Created.
        '400':
          description: Invalid request, or a required reason was omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal transition, or an idempotency key reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': *id002
  /v1/disputes/{id}/attachments:
    post:
      summary: Upload or list attachments
      operationId: disputeAttachments
      description: Typed by magic bytes, capped at 10 MB, and not retrievable until scanned clean.
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - *id001
      responses:
        '200':
          description: Applied.
        '201':
          description: Created.
        '400':
          description: Invalid request, or a required reason was omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal transition, or an idempotency key reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': *id002
  /v1/disputes/{id}/render_template:
    post:
      summary: Render a response template against this case
      operationId: disputeRenderTemplate
      description: Rendering never sends. The agent stays the author of whatever goes out.
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - *id001
      responses:
        '200':
          description: Applied.
        '201':
          description: Created.
        '400':
          description: Invalid request, or a required reason was omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal transition, or an idempotency key reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': *id002
  /v1/disputes/{id}/sla:
    get:
      summary: The clock, its deadlines and the policy version it runs on
      operationId: disputeSla
      security:
      - agentKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Clock state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLABlock'
        '404': *id002
  /v1/attachments/{id}:
    get:
      summary: Download an attachment
      operationId: downloadAttachment
      security: []
      description: 'Signed and expiring: the signature is the authorisation, which is what lets a link
        be handed to a browser that will not send an API key. Served as `application/octet-stream` with
        `Content-Disposition: attachment`, `nosniff` and a deny-everything CSP — never as its own content
        type.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: tenant
        in: query
        required: true
        schema:
          type: string
      - name: expires
        in: query
        required: true
        schema:
          type: integer
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The file.
        '404':
          description: 'Missing, expired, unsigned, or not yet scanned clean. Deliberately indistinguishable:
            saying "not scanned yet" tells an uploader when to retry.'
  /v1/analytics/sla-performance:
    get:
      summary: Breach analysis by category or agent
      operationId: slaPerformance
      security:
      - agentKey: []
      description: 'Pause duration is reported beside breaches rather than on its own screen: §4.4''s
        argument is that a pausable clock is abusable, and the abuse is only visible in the comparison.'
      parameters:
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      - name: group_by
        in: query
        schema:
          type: string
          enum:
          - category
          - agent
      responses:
        '200':
          description: 'Summary, rows and breach causes. `summary.currencies` lists the currencies
            the period''s cases are denominated in: `recorded_refund_minor` and
            `disputed_amount_minor` are sums of minor units with nothing checking they are the same
            unit, so a period spanning two currencies produces a figure that adds kobo to cents. The
            figure is still reported — narrowing it would hide cases from a regulatory count — but a
            client with more than one entry here must not present it as a single amount.'
  /v1/reports/regulatory:
    get:
      summary: The regulator-ready export
      operationId: regulatoryReport
      security:
      - agentKey: []
      description: 'Compliance role only: an export is a disclosure of every case in the period. Returns
        a zip of `cases.csv`, `history.csv`, `report.pdf` and `manifest.json`. **Byte-reproducible** —
        a supervisor who asks for the same period twice and gets two different files has a reason to
        doubt the rest of it. The PDF is the document a supervisor reads; the CSVs are what their
        systems ingest. Both are covered by the same signed manifest, so the readable document and the
        machine-readable one cannot describe two different reads.'
      parameters:
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      - name: format
        in: query
        description: 'Note for client generators: this is the application''s parameter, not a renderer
          hint. DRF''s `URL_FORMAT_OVERRIDE` is disabled so that `pdf` and `csv` reach the view. An
          unrecognised value answers 400 rather than falling back to the zip.'
        schema:
          type: string
          enum:
          - zip
          - json
          - pdf
          - csv
          default: zip
      responses:
        '200':
          description: The bundle, the manifest alone, the PDF, or `cases.csv`.
          content:
            application/zip: {}
            application/json: {}
            application/pdf: {}
            text/csv: {}
        '400':
          description: An unrecognised `format`.
        '404': *id002
  /v1/reports/regulatory/email:
    post:
      summary: Email a regulatory export to registered recipients
      operationId: emailRegulatoryReport
      security:
      - agentKey: []
      description: 'Compliance role only. Recipients are chosen from the tenant''s allowlist, never
        from this request: an endpoint that emails a whole period''s disclosure to an address supplied
        by the caller is an exfiltration route with an OpenAPI entry. Register the address at
        `/v1/reports/recipients` first. The send is queued rather than performed inline, and it is
        idempotent on (period, recipients) so a retried request during an incident cannot deliver
        twice. Nothing is attached to the queue row — the bundle is rebuilt at send time and delivered
        only if its digests still match the ones recorded here, so case content never waits in a queue
        table and a period that changed in between refuses rather than sending.'
      parameters:
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recipients]
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                    format: email
                  description: Each must already be an active entry on the allowlist.
                note:
                  type: string
                  maxLength: 500
                  description: Recorded in the audit trail and shown in the email body.
      responses:
        '202':
          description: Queued. The response lists the recipients and the digests promised.
        '400':
          description: An address that is not on the allowlist. Names the addresses rejected.
        '413':
          description: The export is over the email attachment limit. Narrow the period.
        '404': *id002
  /v1/reports/recipients:
    get:
      summary: The report allowlist
      operationId: listReportRecipients
      security:
      - agentKey: []
      description: 'Compliance role only: this is the list of who receives this firm''s dispute data.
        Deactivated entries are listed too — "who could receive our disputes data in March" is a
        question a supervisor is entitled to ask.'
      responses:
        '200':
          description: Every recipient, active first.
        '404': *id002
    post:
      summary: Register a report recipient
      operationId: registerReportRecipient
      security:
      - agentKey: []
      description: 'Compliance role only, and the more dangerous half of the pair — this is where it
        is decided that a whole period may leave for a given address. A stated reason is required,
        and the registration is audited against the acting agent.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, label, reason]
              properties:
                address:
                  type: string
                  format: email
                label:
                  type: string
                  description: What this recipient is, in your own words. Shown wherever the address is.
                reason:
                  type: string
      responses:
        '201':
          description: Registered, or reactivated.
        '200':
          description: Already registered and active.
        '400':
          description: A missing field or an address that does not parse.
        '404': *id002
  /v1/reports/recipients/{recipient_id}:
    delete:
      summary: Deactivate a report recipient
      operationId: deactivateReportRecipient
      security:
      - agentKey: []
      description: Deactivates rather than deletes. Nothing here removes the record that an address
        was once allowed to receive this firm's data.
      parameters:
      - name: recipient_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The deactivated recipient.
        '404': *id002
  /v1/reports/schedules:
    get:
      summary: Monthly export schedules
      operationId: listReportSchedules
      security:
      - agentKey: []
      description: 'Compliance role only. `last_period_delivered` is the last calendar month whose
        export was *confirmed delivered* — not the last time the job ran. A schedule that queues twelve
        exports a year and delivers none cannot look healthy here. `failed_periods` lists months that
        could not be delivered after the maximum attempts and were stepped over; stepping over is
        deliberate, because blocking every future month behind one stuck month turns a single bad
        period into a total, silent outage. `periods_owed` and `is_overdue` are derived server-side by
        the same code the runner uses, so a client cannot reach a different conclusion about a month
        than the process that sends the mail. An inactive schedule owes nothing and is never overdue —
        it is stopped, not behind.'
      responses:
        '200':
          description: Every schedule, active first.
        '404': *id002
    post:
      summary: Create a monthly export schedule
      operationId: createReportSchedule
      security:
      - agentKey: []
      description: 'Compliance role only. A schedule is a standing instruction that a period leaves
        this system every month, so creating one is the same decision as sending one — made once, for
        every future month. Recipients must already be on the allowlist: a schedule that cannot deliver
        should fail while somebody is looking at it, not silently every month at 6am. Each run exports a
        **closed** calendar month in the schedule''s own timezone; the current month is never exported,
        because a period still accepting cases produces a different document every time it is built.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, recipients, reason]
              properties:
                name:
                  type: string
                recipients:
                  type: array
                  items:
                    type: string
                    format: email
                  description: Each must already be an active entry on the allowlist.
                day_of_month:
                  type: integer
                  minimum: 1
                  maximum: 28
                  default: 5
                  description: 'Of the month *after* the period. Capped at 28: days 29 to 31 do not
                    exist in every month, and sliding silently to the last day would make a reporting
                    deadline mean a different date in February.'
                hour:
                  type: integer
                  minimum: 0
                  maximum: 23
                  default: 6
                timezone:
                  type: string
                  default: UTC
                  description: An IANA name. A firm's March does not start when UTC's does.
                reason:
                  type: string
      responses:
        '201':
          description: The schedule. Its first period is the month it was created in.
        '400':
          description: A missing field, a day outside 1-28, an unknown timezone, or a recipient that
            is not on the allowlist.
        '404': *id002
  /v1/reports/schedules/{schedule_id}:
    delete:
      summary: Deactivate a schedule
      operationId: deactivateReportSchedule
      security:
      - agentKey: []
      description: Deactivates rather than deletes. The record that a firm was mailing its disputes out
        monthly, and to whom, outlives the arrangement.
      parameters:
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The deactivated schedule.
        '404': *id002
  /v1/sla-policies:
    get:
      summary: SLA policies and their current terms
      operationId: listSlaPolicies
      security:
      - agentKey: []
      description: Readable by any role that can read. Also returns the tenant's business calendars,
        because a policy's terms are meaningless without the hours they are counted in.
      responses:
        '200':
          description: Every policy with its current version, plus the available calendars.
        '404': *id002
    post:
      summary: Create a policy for a category
      operationId: createSlaPolicy
      security:
      - agentKey: []
      description: 'Compliance role only. Publishes version 1 of the category''s terms.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlaPolicyTerms'
      responses:
        '201':
          description: The policy, with version 1 in force.
        '400':
          description: Terms that cannot describe a real window. The message says which and why.
        '404': *id002
  /v1/sla-policies/{policy_id}:
    get:
      summary: One policy, with its full change history
      operationId: getSlaPolicy
      security:
      - agentKey: []
      description: '`history` is newest-first and each entry carries `changed` as
        `{field: [before, after]}` — the shape a supervisor''s question takes ("the resolution
        window went from 72 to 168 hours on the 4th"), which two full snapshots do not contain.'
      parameters:
      - name: policy_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The policy, its current terms and every version.
        '404': *id002
    patch:
      summary: Change a policy's terms
      operationId: updateSlaPolicy
      security:
      - agentKey: []
      description: 'Compliance role only. **Publishes version n+1 rather than editing in place.**
        The terms of a policy are immutable (ADR-0004) and a dispute pins the version in force when
        it was filed, so the standard a case was judged against stays recoverable years later. A
        PATCH that mutated the terms would satisfy this endpoint''s documentation and destroy that
        evidence. Fields omitted from the body are carried forward from the version in force —
        a sparse body must not publish a version whose unmentioned terms silently became defaults.
        Publishing terms identical to the current version is a no-op and adds no version.'
      parameters:
      - name: policy_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlaPolicyTerms'
      responses:
        '200':
          description: The policy with its new version, and `changed` describing what moved.
        '400':
          description: Terms that cannot describe a real window.
        '404': *id002
  /v1/widget-config:
    get:
      summary: Widget theming, categories and embed origins
      operationId: getWidgetConfig
      security:
      - agentKey: []
      description: 'Readable by any role that can read. `categories[].has_policy` is the cross-check
        this endpoint exists for: a category the widget offers with no SLA policy behind it lets a
        customer choose it and then fails their filing with "Unknown category", and nothing in the
        data model prevents the combination. `policies_not_offered` is reported rather than flagged —
        a policy without a widget category is how a channel-only category works. `can_edit` and
        `can_change_origins` say what this role may do, so a client can decline to offer a control it
        knows will be refused; the refusal itself is still the server''s.'
      responses:
        '200':
          description: Theme, categories with their policy status, origins and the frame-ancestors
            header as it will be sent.
        '404': *id002
    patch:
      summary: Change theming or the category list
      operationId: updateWidgetConfig
      security:
      - agentKey: []
      description: 'Compliance role only. A colour the browser cannot parse is refused: the widget
        renders inside a customer''s page, and an unparseable value leaves an unstyled control on it.
        A patch that changes nothing writes no audit record.'
      responses:
        '200':
          description: The configuration as it now stands.
        '400':
          description: An unparseable colour or an unknown position.
        '404': *id002
  /v1/widget-config/origins:
    post:
      summary: Register an embed origin
      operationId: registerWidgetOrigin
      security:
      - agentKey: []
      description: '**Owner only.** This widens `frame-ancestors`, which is the boundary ADR-0001
        exists to create and the reason a leaked publishable key is harmless — an attacker''s page is
        not on this list. Widening it is closer to changing an account setting than to changing a
        theme, so it is not reachable from a role granted for compliance work. A trailing path is
        refused: `frame-ancestors` ignores the path, so `https://app.acme.io/checkout` would
        authorise the whole of `https://app.acme.io` while whoever typed it believes otherwise.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [origin]
              properties:
                origin:
                  type: string
                  description: Scheme, host and optional port. No path, no wildcard, not `null`.
      responses:
        '201':
          description: Registered.
        '200':
          description: Already registered.
        '400':
          description: Not an origin. The message names what the value would actually authorise.
        '404': *id002
  /v1/widget-config/origins/{origin_id}:
    delete:
      summary: Withdraw an embed origin
      operationId: withdrawWidgetOrigin
      security:
      - agentKey: []
      description: Owner only. Audited before the row is removed — afterwards nothing is left to say
        which origin was withdrawn or by whom, and "the widget stopped working on our checkout page"
        is a support ticket that needs an answer.
      parameters:
      - name: origin_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Withdrawn. The widget stops rendering there immediately.
        '404': *id002
  /v1/audit/verify:
    get:
      summary: Verify the audit chain
      operationId: auditVerify
      security:
      - agentKey: []
      description: Published so your auditor can check the claim independently. A proof only we can run
        is a promise, not a proof.
      responses:
        '200':
          description: Chain and attestation status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attestation'
